$medium-screen-breakpoint: 768px;
$text-muted: #7D7987;

:root {
    --primary-color: #458FF6;
    --white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    color: #000000;
}

body,
button,
input,
option {
    font-family: "Mulish", sans-serif;
}

button {
    cursor: pointer;
}

// Header

// Navbar
#nav {
    box-shadow: 0 2px 15px rgba($color: #000000, $alpha: 0.15);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 70px;
    max-width: 1240px;
    margin: 0 auto;

    &__brand {
        font-size: 1.75rem;
        font-weight: 700;
        color: black;
    }

    &__list {
        list-style: none;

        display: flex;
        gap: 2.5rem;

        @media (max-width: 768px) {
            display: none;
        }
    }

    &__item {
        a {
            font-size: 1.125rem;
            color: #1F1534;
            font-weight: 400;
        }

        &--active a {
            font-size: 1.125rem;
            color: #1F1534;
            font-weight: 700;
        }
    }
}

// Header > Banner

#banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    max-width: 1240px;
    margin: 4rem auto 0;
    padding: 0 2rem;

    @media (max-width: $medium-screen-breakpoint) {
        flex-direction: column;
    }
}

.banner-left {
    flex: 1;

    &__hgroup {
        max-width: 445px;
    }

    &__title {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
    }

    &__subtitle {
        font-size: 21px;
        font-weight: 300;
        color: #7D7987;
        margin-bottom: 3rem;
    }
}

.banner-right {
    flex: 1;

    display: flex;
    justify-content: flex-end;

    &__image {
        max-width: 693px;
        width: 100%;
    }
}

// Button
.button {
    background-color: var(--primary-color);
    color: var(--white);
    height: 60px;
    width: 200px;
    padding: 0 1rem;
    border: none;
    border-radius: 55px;
    font-size: 18px;
    font-weight: 700;

    transition: filter 0.2s, transform 0.2s;

    &:hover {
        filter: brightness(1.2);
        transform: translateY(-2px);

        transition: filter 0.2s, transform 0.2s;
    }
}

// ####### SERVICES #######

#services {
    background-image: linear-gradient(to bottom, #5A98F2, #67C3F3);
    margin-top: 140px;
    padding: 4rem 2rem;

    .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 2rem;

        max-width: 1184px;
        margin: 4rem auto 0;

        .service-card {
            height: 350px;
            background-color: var(--white);
            border-radius: 20px;
            padding: 2rem;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;


            &__image {
                height: 90px;
                margin-bottom: 1.75rem;
            }

            &__title {
                font-size: 1.5rem;
                color: black;
                margin-bottom: 1rem;
            }

            &__description {
                font-size: 16px;
                font-weight: 100;
                color: $text-muted;
            }

            &:focus {
                border: 1px solid red;
            }
        }

        @media (max-width: 400px) {
            grid-template-columns: 1fr;
        }
    }
}

.section-header {
    max-width: 952px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    flex-direction: column;

    text-align: center;

    &__title {
        font-size: 2.25rem;
        font-weight: 700;
        margin-bottom: 1.75rem;
        color: white;
    }

    &__divider {
        border: 1px solid var(--white);
        width: 56px;
    }

    &__description {
        margin-top: 2rem;
        color: var(--white);
        font-size: 18px;
        font-weight: 100;
    }
}